#header {
    height: 60px;
    background-color: #30598c;
    box-shadow: 0 4px 4px 0 rgb(0 0 0 /25%);
}

#header .navbar-brand img {
    width: 100px;
    height: 37px;
    object-fit: cover;
}


#header .avatar img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}
#footer {
    background-color: #30598c;
}

#footer .footer-item h5{
    font-size: 18px;
}

#footer .footer-item ul li {
    font-size: 14px;
    margin: 8px 0px;
}